.user {
    display: flex;
    align-items: center;
    .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
        border-radius: 50%;
    }
}